<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:int="http://www.springframework.org/schema/integration"
       xsi:schemaLocation="http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <int:channel id="input"/>

    <bean id="messageAdapter" class="cxp.ingest.service.PersistentMessageAdapterImpl">
        <property name="messageDao" ref="messageDao"/>
    </bean>

    <int:inbound-channel-adapter ref="messageAdapter" method="removeNext" channel="input">
        <int:poller fixed-delay="1000"/>
    </int:inbound-channel-adapter>

    <int:splitter input-channel="input" output-channel="output">
        <bean class="cxp.ingest.LineSplitter"/>
    </int:splitter>

    <int:channel id="output"/>

    <bean id="messageDao" class="cxp.ingest.dao.TestMessageDao"/>

</beans>
